/* Main style */

.mainBody {
    position: absolute;
    background-color: #dcdcdc;
    color: black;
    text-align: left;
    padding-top: 100px;
    padding-left: 300px;
    height: 100%;
    width: 60%;
    padding-right: 100%;
    padding-bottom: 100%;
}

.topnav {
    overflow: hidden;
    width: 100%;
    background-color: #000046;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.topnav a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: 600;
    color: white;
    padding: 12px;
    float: left;
    float: top;

}

#hzlogo {
    float: left;
    width: 47px;
    height: 47px;
}

.buttonActive {
    background-color: #329632 !important;
    pointer-events: none;
}

.buttonInactive:hover {
    background-color: dimgray;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    background-color: rgb(75, 75, 75);
    left: 0;
    top: 47px;
    padding: 20px;
    float: top;
    text-align: center;
    z-index: 1;
}

.sidenav a {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    float: top;
    margin-bottom: 100px;
}

.sidenav a:hover {
    color: #fac8c8;
}

/* Home */



/* Profile */

#photo {
    float: right;
    width: 120px;
    padding-left: 75px;
}

#video {
    float: right;
    padding-left: 75px;
}


/* Dashboard */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.gradeSufficient {
    color: white;
    background-color: green;
    width: 33%;
    font-weight: 600;
}

.gradeInsufficient {
    color: white;
    background-color: red;
    width: 33%;
    font-weight: 600;
}

.gradeNA {
    background-color: orange;
    width: 33%;
    font-weight: 600;
}


#progressBar {
    width: 100%;
    height: 20px;
}

#progressBarLabel b{
    color: red;
}


/* FAQ */
#collapsible p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: white;
    padding: 12px;
    top: 0;
}

details {
    user-select: none;
}

details>summary span.V {
    margin-left: auto;
}

details[open] summary span.V {
    transform: rotate(180deg);
}

summary {
    display: flex;
    cursor: pointer;
    background-color: #000046;
    color: white;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: none;
    border: none;
    font-weight: 600;
    padding: 12px;
    margin-top: 20px;

}

summary:hover {
    background-color: dimgray;
}

summary::-webkit-details-marker {
    display: none;
}


/* Blog */