/* Stylesheet for blog posts */
.blogPosts {
    height: 150px;
    background-color: #114d67;
    margin: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
}

.blogPosts a {
    color: yellow;
}