/* Stylesheet for photos and videos throughout the entire website */
/* Top nav hz logo */
#hzlogo {
    float: left;
    width: 47px;
    height: 47px;
}

/* Home */
#photo-hu {
    float: right;
    width: 150px;
    padding-left: 75px;
}

#photo-code{
    float: right;
    width: 300px;
    padding-left: 75px;
}

/* Profile */
#photo-niels {
    float: right;
    width: 120px;
    padding-left: 75px;
}

#video {
    float: right;
    padding-left: 75px;
}

/* Blog */
.blogPosts img {
    float: right;
    height: 150px;
    padding-left: 25px;
}