/* Stylesheet for the tables an progress bar */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #114d67;
}

td{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    border: 1.5px solid black;
    text-align: left;
    padding: 8px;
}

/* colorcode for when grades are sufficient, insufficient or to be completed */
.gradeSufficient {
    color: white;
    background-color: green;
    width: 33%;
    font-weight: 600;
}

.gradeInsufficient {
    color: white;
    background-color: red;
    width: 33%;
    font-weight: 600;
}

.gradeNA {
    background-color: orange;
    width: 33%;
    font-weight: 600;
}

/* Style for progressbar */
#progressBar {
    width: 100%;
    height: 20px;
}

#progressBarLabel b{
    color: red;
}

/* Style for SWOT */
.swotTable {
    width: 50%
}