/* Stylesheet for the side navagation throughout the entire website */
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: #000046;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.topnav a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: 600;
    color: white;
    padding: 12px;
    float: left;
    float: top;

}

.buttonActive {
    background-color: #329632 !important;
    pointer-events: none;
}

.buttonInactive:hover {
    background-color: dimgray;
}